{% extends 'movies/base.html' %}
{% block content %}
    <h2>{{movie.pk}} 번째 영화</h2>
    <hr>
    <p>제목: {{movie.title}}</p>
    <p>누적 관객수: {{movie.audience}}</p>
    <p>포스터 이미지: </p>
    <img src="{{movie.poster_url}}" alt="movie_image">
    <p>영화 소개: {{movie.description}}</p>
    <p>장르: {{genre.name}}</p>

    <!-- 평점 출력 -->
    <p>{{ scores | length }} 개의 평점</p>
    {% for score in scores %}
        <li>
            {{score.content}}
            {{score.score}}
            <form action="{% url 'movies:scores_delete' movie.pk score.pk %}" method="POST" style="display: inline">
                {% csrf_token %}
                <input type="submit" value="삭제">
            </form>
        </li>
    {% empty %}
        <p><b>평점이 없어요..</b></p>
    {% endfor %}
    <hr>

    <!-- 평점 입력 -->
    <form action="{% url 'movies:scores_create' movie.pk %}" method="POST">
        {% csrf_token %}
        <label for="score">Score</label>
        <input type="text" name="score" id="score">

        <label for="content">Content</label>
        <input type="text" name="content" id="content">

        <input type="submit" value="submit">
    </form>
    <hr>

    <a href="{% url 'movies:update' movie.pk %}">[수정]</a>
    <form action="{% url 'movies:delete' movie.pk %}" method="POST" style="display: inline" onsubmit="return confirm('R U SURE??')">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form><br>
    <a href="{% url 'movies:index' %}">[메인으로]</a>
{% endblock %}
